name: SonarQube Scan

on:
  push:
    branches: [ master ]

jobs:
  sonar:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: SonarQube Scan
        uses: sonarsource/sonarqube-scan-action@v2
        with:
          projectBaseDir: .
        env:
          SONAR_HOST_URL: https://weaklier-intercolonially-desire.ngrok-free.dev
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
